.details {
    width: 30%;
    display: flex;
    margin-top: 25px;
    align-items: center;
    border-right: 2px solid grey;
    flex-direction: column;
    h3 {
        font-weight: bold;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    p{
        width: 100%;
        padding: 25px;
        text-align: left;
        padding-top: 0;
        padding-bottom: 15px;
        font-size: 50px;
        padding-bottom: 0;
    }
}

.img {
    background: transparent;
    margin: auto;
    display: flex;
    flex-direction: column;
    img {
        margin: auto;
        display: flex;
        width: 170px;
    }
}

.more-detail {
    padding: 10px;
    padding-top: 0px;
    margin: 10px;
    margin-top: 0;
    margin-left: 15px;
    line-height: 40px;
    .title {
        font-size:16px;
        font-weight: 600;
    }
    .value {
        font-size: 16px;
        font-weight: 500;
    }
}

//#009688
.btn-custom {
    margin-top: 15px;
    color: #fff;
    background: transparent;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #fff;
    width: 20%;
}

.btn-custom:focus {
    background: #e8e9e9;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #232424;
    color: black;
}

* {
    color: #fff;
}
canvas{
    width: 300px;
    margin-top: 15px;
}